<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All View </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        *{
   margin:0px;
   padding:0px;
   }
   .table{
   display:flex;
   justify-content: center;
   }
   #table{
   height: fit-content;
   }
   table{
    box-shadow:5px 5px 5px black;
  border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}

         .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          border:none;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;
      }
.premium{
   background-color:grey;
   display: flex;
   align-items: center;
   justify-content: space-around;
        }

   #para{
   padding-top:15px;
   font-size:24px;
   font-weight:bolder;

        }
        .pre{
        font-size:20px;
        }
        .logout{
position:fixed;
top:10px;
right:30px;
        }
        .add{   margin:top:10px;
        margin-left:15px;
        }
         .flex{
        display:flex;
        justify-content:space-around;
        align-items:center;
        }


    </style>
</head>
<body>

<form th:action="@{/homepage}" method="get">
    <input type="submit" class="button-like add"   value="Home Page">
</form>

<div class="main">
    <div class="table">
        <table border="3" id="table1">
            <thead>
            <tr>
                <td>Title</td>
                <td>Price Per Book</td>
                <td>Quantity</td>
                <td>Amount</td>
                <td>Status</td>

            </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${cartItem.title}"></td>
                    <td th:text="${discountedPrice}"></td>
                    <td th:text="${quantity}"></td>
                    <td th:text="${quantity * discountedPrice}"></td>
                    <td th:text="${status}"></td>

                </tr>


            </tbody>
        </table>

    </div>
</div>


</body>
</html>
