<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Buy Message </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        *{
   margin:0px;
   padding:0px;
   }
   .table{
   display:flex;
   justify-content: center;
   }
   .table{
   height: fit-content;
}
table{
box-shadow:5px 5px 5px black;
border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}

         .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;

                }


 .divv{
    width:700px;
    height:300px;
    margin:auto;
    }
    .res{
    font-size:20px;
    font-weight:bolder;
    }
         .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;
      }
           .add{   margin:top:10px;
        margin-left:15px;
        }


    </style>
</head>
<body>
<div class="main">
    <div class="table">
        <table border="3" class="table1">
            <thead>
            <tr>
                <td>Book Id</td>
                <td>Book Name</td>
                <td>Price per Book</td>
                <td>Quantity</td>
                <td>Total Amount</td>
                <td>Purchase Date</td>
                <td>Status</td>
            </tr>
            </thead>
            <tbody>
            <div th:each="bookTransaction :${listOfResponse}">
            <tr>
                <td th:text="${bookTransaction.bookId}"></td>
                <td th:text="${bookTransaction.bookName}"></td>
                <td th:text="${bookTransaction.pricePerBook}"></td>
                <td th:text="${bookTransaction.quantity}"></td>
                <td th:text="${bookTransaction.totalAmount}"></td>
                <td th:text="${bookTransaction.purchaseDate}"></td>
                <td th:text="${bookTransaction.message}"></td>

            </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>

</div>
</div>

</body>
</html>