<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<style>
    <!--    div{-->
    <!--    width:700px;-->
    <!--    height:300px;-->
    <!--    margin:auto;-->
    <!--    }-->
        p{
        font-size:20px;
        font-weight:bolder;
        }
         .button-like {
              display: inline-block;
              padding: 3px 3px;
              background-color: black;
              color: white;
              font-size:15px;
              font-weight:bolder;
              text-decoration: none;
              border-radius: 5px;
              cursor: pointer;
              margin-top : 10px;
          }


         body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 0;
            }

            #container {
              display: flex;
            }

            #sidebar {
              width: 220px;
              background-color: #333;
              color: #fff;
              padding: 10px;
              box-sizing: border-box;
              position: fixed;
              height: 100%;
            }

            #content {
              flex: 1;
              padding: 20px;
              box-sizing: border-box;
              margin-left: 250px;
            }


            #sidebar a {
              display: block;
              background-color: #333;
              color: #fff;
              text-decoration: none;
              padding: 30px;
              margin-bottom: 5px;
              border-radius: 4px;
            }

            #sidebar a:hover {
              background-color: #555;
            }


</style>
<body>

<div id="container">
    <div id="sidebar">
        <div>
            <a th:href="@{/profile}" class="button-like " >Profile Page</a>
        </div>

        <div>
            <a th:href="@{/homepage}" class="button-like " >Home Page</a>
        </div>

    </div>

    <div id="content">

        <div>

            <h1>ErrorPage</h1>

            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</div>
</body>
</html>