<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All View </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        *{
   margin:0px;
   padding:0px;
   }
   .table{
   display:flex;
   justify-content: center;
   }
   #table{
   height: fit-content;
   }
   table{
    box-shadow:5px 5px 5px black;
  border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}

         .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          border:none;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;
      }
.premium{
   display: flex;
   align-items: center;
   justify-content: space-around;
        }

   #para{
   padding-top:15px;
   font-size:24px;
   font-weight:bolder;

        }
        .pre{
        font-size:17px;
        }
        .logout{
position:fixed;
top:10px;
right:30px;
        }

        .add{   margin:top:10px;
        margin-left:15px;
        }
         .flex{
        display:flex;
        justify-content:space-around;
        align-items:center;
        }
        .like{
        cursor: pointer;
  margin-left: 30px;
  font-size: 18px;
  padding: 3px;
  padding-inline: 10px;
  background-color: black;
  color: white;
  font-weight: bolder;
  border: none;
  }




         body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }

        #container {
          display: flex;
        }

        #sidebar {
          width: 220px;
          background-color: #333;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          position: fixed;
          height: 100%;
        }

        #content {
          flex: 1;
          padding: 20px;
          box-sizing: border-box;
          margin-left: 250px;
        }


        #sidebar a {
          display: block;
          background-color: #333;
          color: #fff;
          text-decoration: none;
          padding: 30px;
          margin-bottom: 5px;
          border-radius: 4px;
        }

        #sidebar a:hover {
          background-color: #555;
        }



    </style>
</head>
<body>
<div id="container">

    <div id="sidebar">
    <div sec:authorize="isAuthenticated()" >

<!--        <form th:action="@{/profile}" method="post">-->
<!--            <input type="submit" class="button-like add"   value="Profile Page">-->
<!--        </form>-->
        <!--                <strong sec:authentication="principal.username"/></a>-->
        <a th:href="@{/profile}" class="button-like " >Profile Page </a>
    </div>

    <div>
        <a th:href="@{/trending-purchase-books}" class="button-like " >Highest Purchase Book</a>
    </div>
    <div>
        <a th:href="@{/trending-rented-books}" class="button-like " >Highest Rented Book </a>
    </div>


    <div>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" class="like " value="Logout">
        </form>
<!--        <a th:href="@{/logout}" class="button-like " >Logout </a>-->
    </div>

</div>


    <div id="content">

        <div>
            <th:block th:if="${elite eq 'not elite'}">
                <div class="premium">
                    <p id="para"> Get 20% Discount in rent and purchase of books </p>
                    <form th:action="@{/premium-member}" method="post">
                        <input type="submit"  class="button-like  pre"
                               value="Buy Premium Membership">
                    </form>
                </div>
            </th:block>
        </div>
<div class="main">
    <div class="table">
        <table border="3" id="table1">
            <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Author</td>
                <td>Genre</td>
                <td>PublishedYear</td>
                <td>Price</td>
                <td>Action</td>

            </tr>
            </thead>
            <tbody>
            <div th:each="book :${books}">
                <br>
                <tr>
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.publishedYear}"></td>
                    <td th:text="${book.price}"></td>
                    <td>
                        <a th:href="@{/rent-book/{bookId}(bookId=${book.id})}"  class="button-like">Rent</a>
                        <a th:href="@{/return-book/{bookId}(bookId=${book.id})}"  class="button-like">Return</a>
                        <a th:href="@{/purchase-book/{bookId}(bookId=${book.id})}"  class="button-like">Purchase</a>
                        <a th:href="@{/add-to-cart/{bookId}(bookId=${book.id})}"  class="button-like">Add to cart</a>

                    </td>
                </tr>
            </div>

            </tbody>
        </table>

    </div>
</div>

<div th:if = "${totalPages > 1}">
    <nav aria-label="Page navigation example">

        <ul class="pagination">

            <li  th:if="${currentPage != 0}" class="page-item">
                <a class="page-link" th:href="@{/homepage(page=${currentPage-1})}">Previous</a></li>

            <li th:classappend="${currentPage==i-1?'active':''}" th:each="i :${#numbers.sequence(1,totalPages)}"
                class="page-item"><a class="page-link"
                                     th:href="@{/homepage(page=${i-1})}">
                <span th:text="${i}"></span></a></li>


            <li th:if="${currentPage+1 != totalPages}" class="page-item">
                <a class="page-link"
                   th:href="@{/homepage(page=${currentPage+1})}">Next</a></li>
        </ul>
    </nav>
</div>
    </div>
</div>
</body>
</html>
