<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Example</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }

        #container {
          display: flex;
        }

        #sidebar {
          width: 220px;
          background-color: #333;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          position: fixed;
          height: 100%;
        }

        #content {
          flex: 1;
          padding: 20px;
          box-sizing: border-box;
          margin-left: 250px;
        }


        #sidebar a {
          display: block;
          background-color: #333;
          color: #fff;
          text-decoration: none;
          padding: 30px;
          margin-bottom: 5px;
          border-radius: 4px;
        }

        #sidebar a:hover {
          background-color: #555;
        }

         *{
margin:0px;
padding:0px;
}
.table{
display:flex;
justify-content: center;
}
#table{
height: fit-content;
}
table{
 box-shadow:5px 5px 5px black;
border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}

      .button-like {
       display: inline-block;
       padding: 3px 3px;
       background-color: black;
       color: white;
       font-size:15px;
       border:none;
       font-weight:bolder;
       text-decoration: none;
       border-radius: 5px;
       cursor: pointer;
       margin-top : 10px;
   }

.premium{
background-color:grey;
display: flex;
align-items: center;
justify-content: space-around;
     }

#para{
padding-top:15px;
font-size:24px;
font-weight:bolder;

     }
     .pre{
     font-size:20px;
     }
     .logout{
position:fixed;
top:10px;
right:30px;
     }
     .add{   margin:top:10px;
     margin-left:15px;
     }
     .flex{
        display:flex;
        justify-content:space-around;
        align-items:center;
        }

    </style>
</head>
<body>

<div id="container">
    <div id="sidebar">
        <a th:href="@{/homepage}">Home Page</a>
        <a th:href="@{/rent-return-list}"  class="button-like">Rent-Return-List</a>
        <a th:href="@{/purchase-list}"  class="button-like">Purchase-List</a>
        <a th:href="@{/view-cart}"  class="button-like">View Cart</a>

    </div>

    <div id="content">
        <div th:if="${table == null}">
            <div class="main">
                <div class="table">
                    <table border="3" >
                        <div th:if="${rentResponse == null}">
                            <thead>
                            <tr>
                                <td>Book Id</td>
                                <td>Book Name</td>
                                <td>Original Price</td>
                                <td>Discounted price</td>
                                <td>Price Per Book</td>
                                <td>Quantity</td>
                                <td>Total Price</td>
                                <td>Purchase Date</td>


                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="transaction :${purchaseResponse}">
                                <br>
                                <tr>
                                    <td th:text="${transaction.bookId}"></td>
                                    <td th:text="${transaction.bookName}"></td>
                                    <td th:text="${transaction.originalPrice}"></td>
                                    <td th:text="${transaction.discountedPrice}"></td>
                                    <td th:text="${transaction.pricePerBook}"></td>
                                    <td th:text="${transaction.quantity}"></td>
                                    <td th:text="${transaction.totalAmount}"></td>
                                    <td th:text="${transaction.purchaseDate}"></td>


                                </tr>
                            </div>

                            </tbody>
                        </div>
                        <div th:unless="${rentResponse == null}">
                            <thead>
                            <tr>
                                <td>Book Id</td>
                                <td>Book Name</td>
                                <td>Purchase Date</td>
                                <td>Excepted Return Date</td>
                                <td>Original Book Rent</td>
                                <td>Discounted Book Rent</td>
                                <td>Paid Rent</td>
                                <td>Return Date</td>
                                <td>Late Penalty</td>
                                <td>Total Rent</td>



                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="transaction :${rentResponse}">
                                <br>
                                <tr>
                                    <td th:text="${transaction.bookId}"></td>
                                    <td th:text="${transaction.bookName}"></td>
                                    <td th:text="${transaction.purchaseDate}"></td>
                                    <td th:text="${transaction.expectedReturnDate}"></td>
                                    <td th:text="${transaction.originalBookRent}"></td>
                                    <td th:text="${transaction.discountedBookRent}"></td>
                                    <td th:text="${transaction.paidRent}"></td>
                                    <td th:text="${transaction.returnDate}"></td>
                                    <td th:text="${transaction.bookPenalty}"></td>
                                    <td th:text="${transaction.totalRent}"></td>
                                </tr>
                            </div>

                            </tbody>
                        </div>
                    </table>

                </div>



            </div>
        </div>
        <div th:unless="${table == null}">
            <div class="main">
                <div class="table">
                    <table border="3" >

                        <thead>
                        <tr>
                            <td>Book Id</td>
                            <td>Book Name</td>
                            <td>Transaction Type</td>
                            <td>Available Quantity</td>
                            <td>Updated Quantity</td>
                            <td>Transaction Date</td>
                            <td>Quantity</td>
                            <td>Total Amount</td>



                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="transactions :${transaction}">
                            <br>
                            <tr>
                                <td th:text="${transactions.bookId}"></td>
                                <td th:text="${transactions.bookName}"></td>
                                <td th:text="${transactions.operation}"></td>
                                <td th:text="${transactions.openQuantity}"></td>
                                <td th:text="${transactions.updatedQuantity}"></td>
                                <td th:text="${transactions.transactionDate}"></td>
                                <td th:text="${transactions.quantity}"></td>
                                <td th:text="${transactions.totalAmount}"></td>


                            </tr>
                        </div>

                        </tbody>

                    </table>

                </div>



            </div>
        </div>


    </div>
</div>

</body>
</html>
l>