<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Message </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        *{
   margin:0px;
   padding:0px;
   }
   .table{
   display:flex;
   justify-content: center;
   }
   .table{
   height: fit-content;
}
table{
box-shadow:5px 5px 5px black;
border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}

         .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;

                }


 .divv{
    width:700px;
    height:300px;
    margin:auto;
    }
    .res{
    font-size:20px;
    font-weight:bolder;
    }
         .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;
      }
           .add{   margin:top:10px;
        margin-left:15px;
        }


    </style>
</head>
<body>
<form th:action="@{/homepage}" method="get">
    <input type="submit" class="button-like add"   value="Home Page">
</form>
<div th:if="${purchaseResponse != null}">
    <div th:if="${delete != null}">
        <div class="divv">
            <h1>ErrorPage</h1>
            <p class="res" th:text="${purchaseResponse}"></p>
        </div>
    </div>
    <div th:unless="${delete != null}">
    <div class="main">
        <div class="table">
            <table border="3" class="table1">
                    <thead>
                    <tr>
                        <td>Book Id</td>
                        <td>Book Name</td>
                        <td>Price per Book</td>
                        <td>Quantity</td>
                        <td>Total Amount</td>
                        <td>Purchase Date</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td th:text="${bookId}"></td>
                        <td th:text="${bookTransaction.bookName}"></td>
                        <td th:text="${bookTransaction.pricePerBook}"></td>
                        <td th:text="${bookTransaction.quantity}"></td>
                        <td th:text="${bookTransaction.totalAmount}"></td>
                        <td th:text="${bookTransaction.purchaseDate}"></td>
                        <td th:text="${purchaseResponse}"></td>

                    </tr>

                    </tbody>
            </table>
                </div>
    </div>

</div>
</div>

<div th:unless="${purchaseResponse != null}">
<div th:if="${#strings.length(response) < 30}">

<div class="main">
    <div class="table">
        <table border="3" class="table1">
            <div th:unless="${bookTransaction.returnDate != null}" >
            <thead>
            <tr>
                <td>Book Id</td>
                <td>Book Name</td>
                <td>Purchase Date</td>
                <td>Excepted Return Date</td>
                <td>Book Rent</td>
                <td>Status</td>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td th:text="${bookId}"></td>
                    <td th:text="${bookTransaction.bookName}"></td>
                    <td th:text="${bookTransaction.purchaseDate}"></td>
                    <td th:text="${bookTransaction.expectedReturnDate}"></td>
                    <td th:text="${bookTransaction.paidRent}"></td>
                    <td th:text="${response}"></td>

                </tr>

            </tbody>
            </div>

            <div th:if="${bookTransaction.returnDate != null}" >
                <thead>
                <tr>
                    <td>Book Id</td>
                    <td>Book Name</td>
                    <td>Purchase Date</td>
                    <td>Excepted Return Date</td>
                    <td>Return Date</td>
                    <td>Paid Rent</td>
                    <td>Book Penalty</td>
                    <td>Total Rent</td>
                    <td>Status</td>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td th:text="${bookId}"></td>
                    <td th:text="${bookTransaction.bookName}"></td>
                    <td th:text="${bookTransaction.purchaseDate}"></td>
                    <td th:text="${bookTransaction.expectedReturnDate}"></td>
                    <td th:text="${bookTransaction.returnDate}"></td>
                    <td th:text="${bookTransaction.paidRent}"></td>
                    <td th:text="${bookTransaction.bookPenalty}"></td>
                    <td th:text="${bookTransaction.totalRent}"></td>
                    <td th:text="${response}"></td>

                </tr>

                </tbody>



            </div>


        </table>

    </div>


</div>
</div>
</div>
<div th:unless="${purchaseResponse != null}">
<div th:unless="${#strings.length(response) < 30}">
<div class="divv">
<h1>ErrorPage</h1>
<p class="res" th:text="${response}"></p>
</div>
</div>
</div>


</body>
</html>
