<!DOCTYPE html>
<html lang="en" xmlns:th="httP://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    *{
 margin:0px;
 padding:0px;
 }
 .table{
 display:flex;
 justify-content: center;
 }
 #table{
 height: fit-content;
}
table{
box-shadow:5px 5px 5px black;
border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}
    .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;
      }

    body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }

        #container {
          display: flex;
        }

        #sidebar {
          width: 220px;
          background-color: #333;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          position: fixed;
          height: 100%;
        }

        #content {
          flex: 1;
          padding: 20px;
          box-sizing: border-box;
          margin-left: 250px;
        }


        #sidebar a {
          display: block;
          background-color: #333;
          color: #fff;
          text-decoration: none;
          padding: 30px;
          margin-bottom: 5px;
          border-radius: 4px;
        }

        #sidebar a:hover {
          background-color: #555;
        }



</style>
<body>
<div id="container">

    <div id="sidebar">
        <div sec:authorize="isAuthenticated()" >

            <a th:href="@{/profile}" class="button-like " >Profile Page </a>
        </div>

        <div>
            <a th:href="@{/trending-purchase-books}" class="button-like " >Highest Purchase Book</a>
        </div>
        <div>
            <a th:href="@{/trending-rented-books}" class="button-like " >Highest Rented Book </a>
        </div>

        <div>
            <a th:href="@{/homepage}" class="button-like " >Home Page</a>
        </div>


    </div>


    <div id="content">
<div class="main">
    <div class="table">
        <table border="3" id="table1">
            <div th:if="${object == null}">
            <thead>
            <tr>
                <td>Book Id</td>
                <td>Purchase Quantity</td>


            </tr>
            </thead>
            <tbody>
            <div th:each="objArray :${objects}">
                <br>
                <tr>
                    <td th:text="${objArray.bookId}"></td>
                    <td th:text="${objArray.totalCount}"></td>
                </tr>
            </div>

            </tbody>
            </div>



            <div th:unless="${object == null}">
                <thead>
                <tr>
                    <td>Book Id</td>
                    <td>Rented Quantity</td>

                </tr>
                </thead>
                <tbody>
                <div th:each="objArray :${object}">
                    <br>
                    <tr>
                        <td th:text="${objArray.bookId}"></td>
                        <td th:text="${objArray.totalCount}"></td>
                    </tr>
                </div>

                </tbody>
            </div>


        </table>

    </div>


</div>





</div>
</div>

</body>
</html>