<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All View </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        *{
   margin:0px;
   padding:0px;
   }
   .table{
   display:flex;
   justify-content: center;
   }
   #table{
   height: fit-content;
   }
   table{
    box-shadow:5px 5px 5px black;
  border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}

         .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          border:none;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;
      }
.premium{
   background-color:grey;
   display: flex;
   align-items: center;
   justify-content: space-around;
        }

   #para{
   padding-top:15px;
   font-size:24px;
   font-weight:bolder;

        }
        .pre{
        font-size:20px;
        }
        .logout{
position:fixed;
top:10px;
right:30px;
        }
        .add{   margin:top:10px;
        margin-left:15px;
        }
         .flex{
        display:flex;
        justify-content:space-around;
        align-items:center;
        }
        .total{
        background-color: grey;
        color:white;
        font-size:20px;
        font-weight:bolder;
        }


         body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }

        #container {
          display: flex;
        }

        #sidebar {
          width: 220px;
          background-color: #333;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          position: fixed;
          height: 100%;
        }

        #content {
          flex: 1;
          padding: 20px;
          box-sizing: border-box;
          margin-left: 250px;
        }


        #sidebar a {
          display: block;
          background-color: #333;
          color: #fff;
          text-decoration: none;
          padding: 30px;
          margin-bottom: 5px;
          border-radius: 4px;
        }

        #sidebar a:hover {
          background-color: #555;
        }





    </style>
</head>
<body>
<div id="container">
    <div id="sidebar">
        <a th:href="@{/homepage}">Home Page</a>
        <a th:href="@{/rent-return-list}"  class="button-like">Rent-Return-List</a>
        <a th:href="@{/purchase-list}"  class="button-like">Purchase-List</a>
        <a th:href="@{/view-cart}"  class="button-like">View Cart</a>

    </div>


    <div id="content">

<div >
    <a th:href="@{/buy-all-books}" class="button-like " >Buy All Book</a>
</div>
<div class="main">
    <div class="table">
        <table border="3" id="table1">
            <thead>
            <tr>
                <td>Title</td>
                <td>Original Price</td>
                <td>Discounted Price</td>
                <td>Price Per Book</td>
                <td>Quantity</td>
                <td>SubTotal</td>
                <td>Action</td>



            </tr>
            </thead>
            <tbody>
            <div th:each="response :${responses}">
            <tr>
                <td th:text="${response.bookName}"></td>
                <td th:text="${response.originalPrice}"></td>
                <td th:text="${response.discountedPrice}"></td>
                <td th:text="${response.pricePerBook}"></td>
                <td th:text="${response.quantity}"></td>
                <td th:text="${response.subTotal}"></td>

                <td>
                    <a th:href="@{/update-cart/{bookId}/{elite}(bookId=${response.bookId},
                    elite=${response.isElite})}" class="button-like" > Update</a>

                    <a th:href="@{/delete-cart-item/{bookId}/{elite}(bookId=${response.bookId},
                    elite=${response.isElite})}" class="button-like" > Delete</a>

                    <a th:href="@{/buy-cart-item/{bookId}/{elite}/{quantity}(bookId=${response.bookId},
                    elite=${response.isElite},quantity=${response.quantity})}" class="button-like" > Buy</a>
                </td>

            </tr>
            </div>
            <tr>
                <td colspan="5" >Total </td>
                <td th:text="${total}"></td>
            </tr>

            </tbody>

        </table>

    </div>
</div>

    </div>
</div>
</body>
</html>
