<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Profile_Page</title>
</head>
<style>
    *{
 margin:0px;
 padding:0px;
 }
 .table{
 display:flex;
 justify-content: center;
 }
 #table{
 height: fit-content;
 }
 table{
  box-shadow:5px 5px 5px black;
border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}

       .button-like {
        display: inline-block;
        padding: 3px 3px;
        background-color: black;
        color: white;
        font-size:15px;
        border:none;
        font-weight:bolder;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top : 10px;
    }
.premium{
 background-color:grey;
 display: flex;
 align-items: center;
 justify-content: space-around;
      }

 #para{
 padding-top:15px;
 font-size:24px;
 font-weight:bolder;

      }
      .pre{
      font-size:20px;
      }
      .logout{
position:fixed;
top:10px;
right:30px;
      }
     .flex{
        display:flex;
        justify-content:space-around;
        align-items:center;
        }


     body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }

        #container {
          display: flex;
        }

        #sidebar {
          width: 220px;
          background-color: #333;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          position: fixed;
          height: 100%;
        }

        #content {
          flex: 1;
          padding: 20px;
          box-sizing: border-box;
          margin-left: 250px;
        }


        #sidebar a {
          display: block;
          background-color: #333;
          color: #fff;
          text-decoration: none;
          padding: 30px;
          margin-bottom: 5px;
          border-radius: 4px;
        }

        #sidebar a:hover {
          background-color: #555;
        }


</style>
<body>
<div id="container">
    <div id="sidebar">
<div>
    <a th:href="@{/create-book}" class="button-like " >Add Book</a>
</div>
    <div>
        <a th:href="@{/deleted-book}" class="button-like " >Deleted Book</a>
    </div>

    <div>
        <a th:href="@{/home}" class="button-like " >Home Page</a>
    </div>
</div>
    <div id="content">

<div class="main">
    <div class="table">
        <table border="3" id="table1">
            <thead>
            <tr>

                <td>Title</td>
                <td>Author</td>
                <td>Genre</td>
                <td>PublishedYear</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Action</td>
                <td>Transaction</td>



            </tr>
            </thead>
            <tbody>
            <div th:each="book :${bookResponse}">
                <br>
                <tr>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.publishedYear}"></td>
                    <td th:text="${book.price}"></td>
                    <td th:text="${book.totalQuantity}"></td>
                    <td>
                        <a th:href="@{/update-book/{bookId}(bookId=${book.id})}"  class="button-like">Update</a>
                        <a th:href="@{/delete-book/{bookId}(bookId=${book.id})}"  class="button-like">Delete</a>
                        <a th:href="@{/book-quantity/{bookId}(bookId=${book.id})}"  class="button-like">Quantity</a>


                    </td>
                    <td>
                        <a th:href="@{/purchase-list/{bookId}(bookId=${book.id})}"  class="button-like">Purchase List</a>
                        <a th:href="@{/rent-return-list/{bookId}(bookId=${book.id})}"  class="button-like">Rent and return List</a>
                    </td>


                </tr>
            </div>

            </tbody>
        </table>


    </div>



</div>

    </div>



</div>
</body>
</html>