<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Transaction </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        *{
   margin:0px;
   padding:0px;
   }
   .table{
   display:flex;
   justify-content: center;
   }
   #table{
   height: fit-content;
}
table{
box-shadow:5px 5px 5px black;
border-collapse: collapse;
margin-top: 50px;
}
td{
background-color:white;
padding: 20px;
text-align: center;
}

th{
background-color:white;
font-weight: bolder;
padding: 10px;
text-align: center;
}
         .button-like {
          display: inline-block;
          padding: 3px 3px;
          background-color: black;
          color: white;
          font-size:15px;
          font-weight:bolder;
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top : 10px;
      }
           .add{   margin:top:10px;
        margin-left:15px;
        }
        .flex{
        display:flex;
        justify-content:space-around;
        align-items:center;
        }


        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }

        #container {
          display: flex;
        }

        #sidebar {
          width: 220px;
          background-color: #333;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          position: fixed;
          height: 100%;
        }

        #content {
          flex: 1;
          padding: 20px;
          box-sizing: border-box;
          margin-left: 250px;
        }


        #sidebar a {
          display: block;
          background-color: #333;
          color: #fff;
          text-decoration: none;
          padding: 30px;
          margin-bottom: 5px;
          border-radius: 4px;
        }

        #sidebar a:hover {
          background-color: #555;
        }







    </style>
</head>
<body>

<div id="container">
    <div id="sidebar">
        <div>
            <a th:href="@{/books}" class="button-like " >Profile Page</a>
        </div>


        <div>
            <a th:href="@{/home}" class="button-like " >Home Page </a>
        </div>
        <div>
            <a th:href="@{/logout}" class="button-like " >Logout </a>
        </div>
    </div>

    <div id="content">
<div class="main">
    <div class="table">
        <table border="3" id="table1">
            <thead>
            <tr>
                <td>BookId</td>
                <td>UserId</td>
                <td>Price</td>
                <td>Purchase Date</td>

            </tr>
            </thead>
            <tbody>
            <div th:each="book :${purchase}">
                <br>
                <tr>
                    <td th:text="${book.bookId}"></td>
                    <td th:text="${book.userId}"></td>
                    <td th:text="${book.pricePerBook}"></td>
                    <td th:text="${book.purchaseDate}"></td>

                </tr>
            </div>

            </tbody>
        </table>

    </div>



</div>
    </div>
</div>
</body>
</html>
