<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update_Book</title>
    <style>
        *{
        font-family: 'Merriweather', serif;
        }
        h1{
        background-color: grey;
        color:white;
        width:100%;
        text-align:center;
        padding-top:20px;
        padding-bottom: 20px;
        }
        form{
        width: 50vw;
        margin: auto;
        margin-top: 50px;
        background-color: white;
        margin-bottom: 30px;

        }
        label{
        background-color: white;
        width:100%;
        margin: 8px;
        font-weight: bolder;
        font-size: 20px;
        }
        input{
        width:90%;
        margin: 8px;
        height: 35px;
        background-color: white;
        border: 1px solid black;
        }

        input[type="submit"]{
        width: 30%;
         background-color: black;
          color:white;
          height:35px;
          font-size: 20px;
          font-weight: bolder;
          border: none;
        }


          #container {
          display: flex;
        }

        #sidebar {
          width: 220px;
          background-color: #333;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          position: fixed;
          height: 100%;
        }


        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }


        #content {
          flex: 1;
          padding: 20px;
          box-sizing: border-box;
          margin-left: 250px;
        }


        #sidebar a {
          display: block;
          background-color: #333;
          color: #fff;
          text-decoration: none;
          padding: 30px;
          margin-bottom: 5px;
          border-radius: 4px;
        }

        #sidebar a:hover {
          background-color: #555;
        }

    </style>
</head>
<body>
<div id="container">
    <div id="sidebar">
        <div>
            <a th:href="@{/books}" class="button-like " >Profile Page</a>
        </div>

        <div>
            <a th:href="@{/home}" class="button-like " >Home Page </a>
        </div>

    </div>

    <div id="content">



<form th:action="@{/change-book}" method="post" th:object="${book}">
    <input type="hidden" name="bookId" th:value="*{id}">

    <h1>Update Book</h1>

    <label >Title :</label>

    <input type="text"  th:field="*{title}"><br>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

    <label >Author name :</label>
    <input type="text" th:field="*{author}"><br>
    <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>

    <label >Genre :</label>
    <input type="text"  th:field="*{genre}"><br>
    <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></p>

    <label >Price :</label><br>
    <input type="number"  th:field="*{price}"><br>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>

    <label>Published year:</label>
    <input type="number"  th:field="*{publishedYear}"><BR>
    <p th:if="${#fields.hasErrors('publishedYear')}" th:errors="*{publishedYear}"></p>

    <label>Quantity:</label>
    <input type="number"  th:field="*{totalQuantity}">
    <p th:if="${#fields.hasErrors('totalQuantity')}" th:errors="*{totalQuantity}"></p>
    <input type="submit" value="Submit">

</form>
    </div>
</div>
</body>
</html>